body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #2c3e50;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #34495e;
    margin-bottom: 10px;
    display: inline-block;
}

select, input[type="checkbox"], input[type="radio"] {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    width: 100%;
    display: block;
}

select {
    background-color: #e9ecef;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}


button {
    background-color: #3498db;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2ecc71;
    text-align: center;
}

hr {
    border: 1px solid #e9ecef;
}